@use '../../styles/tokens/variables' as *;

.ds-dropdown {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $padding-container-xs;
  gap: $space-050;
  border-radius: $radius-medium;
  background: $mapping-system-slate-surface-tertiary;
  box-shadow:
    0 2px $depth-100 $depth-negative-025 $mapping-system-shadow-medium,
    0 4px $depth-100 $depth-negative-025 $mapping-system-shadow-medium;

  > * {
    width: 100%;
  }
}

.ds-dropdown__divider {
  width: 100%;
  height: 1px;
  background: $mapping-system-slate-background-tertiary;
  opacity: 0.4;
  margin: $space-050 0;
  border: 0;
}

.ds-dropdown--mode-dark {
  background: $mapping-system-black-400;

  .ds-dropdown__divider {
    background: $mapping-system-slate-background-secondary;
    opacity: 1;
  }
}
