@use './tokens/variables' as *;
@use './tokens/maps' as *;

:root {
  --sds-color-background-default-default: #E9ECF0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $schema-text-primary;
  background-color: $schema-surface-primary;
  font-family: $ui-font-family;
}
